*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
    height: 100vh;
    background: url("header.jpg");
    background-size: cover;
}
nav
{
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}
ul
{
    list-style: none;
    justify-content: center;
}
li
{
    display: inline-block;
}
li a
{
    text-decoration: none;
    font-size: 14px;
    margin-right: 50px;
    color: white;
    letter-spacing: 1px;
}
li a:hover
{
    color: blue;
}
.back-video
{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.box{
    background-color: #1b1d28;
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box h2
{
    color: white;
    position: relative;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px;
    
}
.radio-buttons
{
    width: 100%;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: non-wrap;
}
.custom-radio input
{
    display: none;
}
.btn 
{
    position: relative;
    width: 240px;
    height: 320px;
    margin: 25px;
    background-color: #222533;
    border: 4px solid transparent;
    cursor: pointer;
}
.btn .content
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn .image
{
    width: 150px;
    height: 150px;
    margin: 20px 0;
    border-radius: 50%;
    overflow: hidden;
}
.btn .image img
{
    width: 100%;
    height: 100%;
    user-select: none;
}
.btn h2
{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.btn .check-icon
{
    width: 30px;
    height: 30px;
    background-color: #1b1d28;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.btn .check-icon .icon
{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 8px;
    margin-top: -2px;
    transform: rotate(-40deg);
}
.btn .check-icon .icon::before
{
    content: "";
    width: 3px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.231);
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}
.btn .check-icon .icon::after
{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.231);
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
}
.custom-radio input:checked + .btn
{
border: 4px solid #66D3FA;
}
.custom-radio input:checked + .btn .check-icon
{
background-color:#66D3FA;
}
button 
{
    width: 130px;
    height: 40px;
    border: none;
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    justify-content: center;
    align-items: center;
}
.cn-view
{
    text-decoration: none;
    background: #fff;
    color: black;
    transition: 0.3s ease;
    margin-right: 70%;
}
.cn-view:hover
{
    background-color: #B3E5FC;
}   
.np a 
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.np a:hover
{
    background-color: #ddd;
    color: black;
}
.previous
{
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
}
.next
{
    background-color: #4caff0;
    color: black;
    border-radius: 5px;
}