*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}
.back-video
{
    width: 101%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
body>section{
    position: relative;
    top: 50px
}

header
{
    width: 100%;
    height: 100vh;
    background: url("images/header.jpg");
    background-size: cover;
}
nav
{
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
    z-index: 9999;
}
nav ul li a
{
    position: relative;
    display: inline-block;
    padding: 7px 7px;
    color: white;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}
.logo
{
    position: relative;
    width: 20px;
    height: 20px;
    font-family: Arial;
    margin-left: 40px;
}
header + section 
{   
    background-image: url('images/quiz-page2.jpg');
    width: 100%;
    top: 0;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.take-quiz
{
    position: relative;
    background: #fff;
    color: #ff342f;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.take-quiz:hover
{
    background: linear-gradient(to right, #ff342f, #ff9422);    
    color: #fff;
}
nav>ul>li
{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin-right: 0;
    color: white;
    cursor:pointer;
}
ul a
{
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    color: white;
}
li a:hover
{
    color: white;
    background: black;
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    transition-delay: 1s;
}
a span
{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
}

a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
}

a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.line 
{
    margin: 10px 0 120px 0;
    border-top: 4px solid white;
    visibility: hidden;
    width: 100%;
    align-self: center;
}
.box
{
    background-color: #1b1d2870;
    display: flex;
    margin: 100px 100px 10px 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    backdrop-filter: blur(5px);
}
.box h2
{
    color: white;
    position: relative;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px;

}
.radio-buttons
{
    width: 100%;
    height: 65vh;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: non-wrap;
}
.custom-radio input
{
    display: none;
}
.btn 
{
    position: relative;
    width: 240px;
    height: 295px;
    background: transparent;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid;
    border-image-slice: 1;
    cursor: pointer;
    z-index: -1;
}
.btn
{
    border-image-source: linear-gradient(to right, #ff342f, #ff9422);
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}
.btn .content
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn .image
{
    width: 150px;
    height: 150px;
    margin: 5px 0;
    border-radius: 50%;
    overflow: hidden;
}
.btn .image img
{
    width: 100%;
    height: 100%;
    user-select: none;
}
.btn h2
{
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.btn .check-icon
{
    width: 30px;
    height: 30px;
    background-color: #1b1d28;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.btn .check-icon .icon
{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 8px;
    margin-top: -2px;
    transform: rotate(-40deg);
}
.btn .check-icon .icon::before
{
    content: "";
    width: 3px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.231);
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}
.btn .check-icon .icon::after
{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.231);
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
}
.custom-radio input:checked + .btn
{
    border: 4px solid white;
    background: linear-gradient(to right, #ff342f, #ff9422);
    /* background: linear-gradient(to left, #743ad5, #d53a9d); */
}
.custom-radio input:checked + .btn .check-icon
{
    background-color: #ff342f;
}  
.np a
{
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    margin-bottom: 50%;
}
.next
{
    background-color: #f1f1f1;
    color: #ff342f;
    border-radius: 5px;
}
.previous
{
    background-color: #f1f1f1;
    color: #ff342f;
    border-radius: 5px;
}
.np .next:hover
{
    background: linear-gradient(to right, #ff342f, #ff9422);    
    color: #fff;
}
.np .previous:hover
{
    background: linear-gradient(to right, #ff342f, #ff9422);    
    color: #fff;
}
section
{
    position:relative;
}
section details
{
    display: flex;
    margin-left: 1000px;
    margin-top: -80px;
}
.view-answer
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
details p
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
html 
{
    scroll-behavior: smooth;
}
details
{
    margin: 20px;
}
#quiz_page{
    position: relative;
    font-size: 200%;
    top: 87%;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 70vh;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}
.footer-content
{
    position: relative;
    display: flex;
    align-items:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3
{   
    
    font-size: 24px;
    letter-spacing: 2px;
}
.syntax
{
    color: #ff9422;

}
.footer-content p
{   
    margin: 40px 0 40px 0;
    font-size: 14px;
    letter-spacing: 1px;
}
.social
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li
{
    margin: 20px 10px 40px 10px;
}
.social li a
{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    width: 35px;
}
hr
{
    margin: 20px 80px 20px 80px;
}
.copyright
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.custom-radio
{
    height: 100%;
    width: 100%;
}
.TorF
{   
    height: 105vh;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width:350px;
    height: 500px;
}
.card
{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.container:hover > .card
{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front, 
.back
{   
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 2rem ;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    backface-visibility: hidden;
}
.front
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/galaxy.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.card h1
{
    margin-top: -10%;
}
.card h2
{
    margin-top: 20px;
}
.card h3 
{
    margin-top: 10px;
}
.back
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1b1d28;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}